.venv
venv
env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.installed.cfg
*.egg

# Логи
*.log
logs/
*.txt

# Статика
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml