services:
  db:
    image: postgres:14.3-alpine3.15
    ports:
      - "5431:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./logs:/var/log/postgresql
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    container_name: app
    build: .
    command: uvicorn DiplomNetologyGjango.asgi:application --host 0.0.0.0 --port 8000 --workers 1
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=DiplomNetologyGjango.settings
      - RUN_MIGRATIONS=1
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./logs:/logs

  celery-worker:
    container_name: celery-worker
    build: .
    command: celery -A DiplomNetologyGjango worker --loglevel=INFO --logfile=/logs/celery.log
    env_file:
      - .env
    environment:
      - RUN_MIGRATIONS=0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./logs:/logs

  celery-beat:
    container_name: celery-beat
    build: .
    command: celery -A DiplomNetologyGjango beat --loglevel=INFO --scheduler django_celery_beat.schedulers.DatabaseScheduler --logfile=/logs/celery-beat.log
    env_file:
      - .env
    environment:
      - RUN_MIGRATIONS=0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./logs:/logs
    restart: always

volumes:
  postgres-data:
  redis-data: