{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='auth' %}">{% trans 'Authentication and Authorization' %}</a>
    &rsaquo; <a href="{% url 'admin:backend_user_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url 'admin:backend_user_change' original.pk %}">{{ original }}</a>
    &rsaquo; {% trans 'Change password' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div>
            {% if errors %}
                <p class="errornote">{% trans 'Please correct the error below.' %}</p>
            {% endif %}
            {{ form.non_field_errors }}
            <fieldset class="module aligned">
                <div class="form-row">
                    {{ form.password1.errors }}
                    <label for="{{ form.password1.id_for_label }}" class="required">{% trans 'Password:' %}</label>
                    {{ form.password1 }}
                </div>
                <div class="form-row">
                    {{ form.password2.errors }}
                    <label for="{{ form.password2.id_for_label }}" class="required">{% trans 'Password (again):' %}</label>
                    {{ form.password2 }}
                    <p class="help">{% trans 'Enter the same password as before, for verification.' %}</p>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Change password' %}" class="default">
            </div>
        </div>
    </form>
</div>
{% endblock %}